/.agents/
/.codex/
/.idea/
/.deps/
/.libs/
/autom4te.cache/
/acinclude.m4
/aclocal.m4
/build/
/config.guess
/config.h
/config.h.in
/config.log
/config.nice
/config.status
/config.sub
/configure
/highlighter.dep
/highlighter.la
/highlighter.lo
/install-sh
/include/
/ltmain.sh
/libtool
/missing
/mkinstalldirs
/modules/
/run-tests.php
/target/
/tmp-php.ini
/vendor/

*.la
*.lo
*.o
*.so

/tests/*.diff
/tests/*.exp
/tests/*.log
/tests/*.out
/tests/*.php
